* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #121212;
    color: #e0e0e0;
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1f1f1f;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e94560 3px solid;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 5px 0;
    font-size: 18px;
}

nav {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #e94560;
}

section {
    padding: 20px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #e94560;
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-list li {
    background: #333;
    color: #e0e0e0;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
    flex-grow: 1;
    height: 75px;
}

.project-items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    background: #1f1f1f;
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 300px;
    height: 350px;
}

.project h3 {
    margin-top: 0;
    color: #e94560;
}

.project p {
    margin: 0;
}

footer {
    background: #1f1f1f;
    color: #e0e0e0;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
